<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:C:\TEMP\db\file;shutdown=true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.transaction.flush_before_completion">true</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="show_sql">true</property>
        <mapping resource="za/co/smartcall/smartload/hibernate/Network.hbm.xml"/>
        <mapping resource="za/co/smartcall/smartload/hibernate/File.hbm.xml"/>
        <mapping resource="za/co/smartcall/smartload/hibernate/Product.hbm.xml"/>
         <mapping resource="za/co/smartcall/smartload/hibernate/Producttype.hbm.xml"/>
        <mapping resource="za/co/smartcall/smartload/hibernate/Transaction.hbm.xml"/>
        <mapping resource="za/co/smartcall/smartload/hibernate/TransactionStatus.hbm.xml"/>
        <mapping resource="za/co/smartcall/smartload/hibernate/Voucher.hbm.xml"/>
     </session-factory>
</hibernate-configuration>

